node_modules
account.json
.vscode/
.vscode/launch.json
logs
.idea
database-data
.env
.env.production
database.env
build
.eslintcache
coverage
dump/
report_view.json
*.lic
.DS_Store
github
github.pub
.generated
esm
